*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
  text-decoration: none;
}

.sidebar{
  position: fixed;
  left: -250px;
  width:250px;
  height:100%;
  background: #042331;
  transition: all .5s ease;
}

.sidebar header{
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background: #063146;
  user-select: none;
}

.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  color:white;
  padding-left:40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255,255,255,.1);
  border-bottom:1px solid black;
  transition: .4s;
}

ul li:hover a {
  padding-left: 50px;
}

.sidebar ul a i{
  margin-right: 16px ;
}

#check{
  display:none;
}

label #btn, label #cancel {
  position: absolute;
  cursor: pointer;
  background: #042331;
  border-radius: 3px;
}

label #btn{
  left: 40px;
  top:25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}

label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}

#check:checked ~ .sidebar {
  left: 0;
}

#check:checked ~ label #btn {
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel {
  left: 195px;
}

#check:checked ~ section {
  margin-left: 250px;

}
section {
  background: url(https://wallpapercave.com/wp/wp1918979.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}

.kenya-showcase{
  width:440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  text-align: center;
  color: white;
}

.text{
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
  color: white;
}

.arrow {
  display:flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 80px;
  height:80px;
  font-size: 50px;
  animation: slide 3s ease infinite;
}

@keyframes slide {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }
}

#button{
  width: 50%;
  height: 60px;
  border-radius: 50px;
  background:#a6c1ee;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  color: white;
  outline: none;
  border: none;

}

#button:hover{
  background-color: #8fd3fa;

}

/* Blog styles */


.container{
  width: auto;
  height: 800px;
  background: url(https://wallpapercave.com/wp/wp1918916.jpg) no-repeat;
  background-position: center;
  background-size:cover;

}
.header-container{
  width: 650px;
  height: 800px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 2px dashed black;
  background: white;

}
.header{
  text-align: center;
  font-size: 40px;
  color: brown;
  margin-top: 10px;
  font-family: cursive;
}

span{
  color: green;
  font-size: 50px;
  font-family: fantasy;
  font-style: italic;
}

img{
  margin-left: 29px;
  margin-bottom: 20px;
  border-radius: 20px;
}

p{
  width: 600px;
  height: 150px;
  line-height: 30px;
  font-family:fantasy;
  font-size: 15px;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
/*
.slider-container {
  width: 480px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-align: center;
  border:5px solid black;

}

.image-container{
  background: transparent;
  width:1920px;
  height: 300px;
  position: relative;
  transition: left 2s;
  -webkit-transition: left 2s;
  -moz-transition:left 2s;
  -o-transition:left 2s;
}

.slider-image {
  float: left;
  margin: 0px;
  padding:0px ;
}


.button-container{
  top:-20px;
  position: relative;
}

.slider-button{
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: #fff;
}

#slider-image-1:target ~ .image-container{
  left:0px;
}

#slider-image-2:target ~ .image-container{
  left:-800px;
}
#slider-image-3:target ~ .image-container{
  left:-1600px;
}
#slider-image-4:target ~ .image-container{
  left:-2400px;
} */
